.header {
  .header-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a:first-of-type {
      font-size: 20px;
      color: $black;
      text-transform: uppercase;
      font-family: 'Baskerville Old Face BQ', 'regular';
    }

    ul {
      display: inline-flex;
      gap: 36px;
    }
  }

  .header-connect ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: $white;
    padding-top: 45px;

    .span {
      text-transform: uppercase;
      font-family: 'Playfair Display';
    }
  }

  @include media-breakpoint-up(lg) {
    .header-controls {
      align-items: flex-end;
      justify-content: flex-end;
      gap: 30px;

      form {
        button {
          border: none;
          background-color: $white;
          position: relative;
          left: 30px;
        }

        input {
          text-align: center;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid $gray-primary;
        }
      }
    }
  }
}

.header .top-inner {
  @include media-breakpoint-up(lg) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
  }
}

.header-top {
  .menu-bar {
    background-color: $brand-primary;
    width: 480px;
    height: 50px;
    max-width: 100%;
  }

  .menu-bar {
    .menu-search ul {
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }

    a {
      color: $white;
      font-size: 26px;
    }
  }

  .menu-search {
    form {
      padding-left: 35px;
      padding-top: 5px;
    }
    input[type='text'] {
      background-color: transparent;
      border: 1px solid $white;
    }

    button {
      background-color: transparent;
      border: none;
      color: $white;
      position: relative;
      right: 30px;
      opacity: 70%;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-connect li:nth-of-type(5) {
    cursor: pointer;
    color: $white;
    animation: none;
    transition: color 0.2s linear, background-color 0.2s linear;
  }

  .header-connect li:nth-of-type(5):hover {
    animation: none;
    text-decoration: overline;
    color: $gray-secondary;
  }
}

@include media-breakpoint-up(lg) {
  .header-connect li:hover {
    animation: mymove 1s linear;
    cursor: pointer;
  }

  @keyframes mymove {
    50% {
      transform: scaleY(1.2) scaleX(1.2);
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-controls li:hover {
    animation: controls 1s linear;
    cursor: pointer;
  }

  @keyframes controls {
    50% {
      transform: rotate(120deg);
    }
  }
}
