.header {
  .header-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a:first-of-type {
      font-size: 20px;
      color: $black;
      text-transform: uppercase;
      font-family: 'Baskerville Old Face BQ', 'regular';
    }

    ul {
      display: inline-flex;
      gap: 36px;
    }
  }

  .header-connect ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: $white;
    padding-top: 45px;

    .span {
      text-transform: uppercase;
      font-family: 'Playfair Display';
    }
  }

  @include media-breakpoint-up(lg) {
    .header-controls {
      align-items: flex-end;
      justify-content: flex-end;
      gap: 30px;

      form {
        button {
          border: none;
          background-color: $white;
          position: relative;
          left: 30px;
        }

        input {
          text-align: center;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid $gray-primary;
        }
      }
    }
  }

  .menu-bar {
    background-color: $brand-primary;
    height: 55px;
    width: 390px;
    width: 100%;
  }

  .menu-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      font-size: 26px;
      margin: 20px;
    }

    form {
      align-items: center;

      input[type='text'] {
        background-color: transparent;
        border: 1px solid $white;
      }

      button {
        background-color: transparent;
        border: none;
        color: $white;
        position: relative;
        right: 30px;
        opacity: 70%;
      }
    }
  }
}

.header .top-inner {
  @include media-breakpoint-up(lg) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
  }
}
